{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
    {% for post in posts %}
        <div class="card">
            <h5 class="card-header">{{ post.created_on }}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body|slice:":200" }}</p>
                <a href="{% url 'blog:post_detail' post.slug %}" class="btn btn-primary">Continue</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
